<!--
DESCRITPION
-->


<launch>
        <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
        	<param name="destination_frame" value="laser_mulit"/>
		<param name="cloud_destination_topic" value="/merged_cloud"/>
		<param name="scan_destination_topic" value="/scan_multi"/>
                <param name="laserscan_topics" value ="/scan  /scan1" /> <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->

                <param name="angle_min" value="-3.14"/>
                <param name="angle_max" value="3.14"/>   <!-- 输出结果范围 -->
                <param name="angle_increment" value="0.017"/>
                <param name="scan_time" value="0.01"/>
                <param name="range_min" value="0.30"/>
                <param name="range_max" value="50.0"/>

	</node>
</launch>
